# Database connection (NeonDB / PostgreSQL)
DATABASE_URL="postgresql://user:password@ep-sample-123456.us-east-2.aws.neon.tech/globetrotter?sslmode=require"

# Fastify & JWT configuration
PORT=4000
HOST="0.0.0.0"
JWT_SECRET="globetrotter-super-secret-jwt-key-minimum-32-chars-long"
FRONTEND_URL="http://localhost:3000"
